<<<<<<< HEAD
body {
    font-family: sans-serif;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 40%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0; 
}

tr:hover {
    background-color: #ddd;
}

#tableDetails {
    border: 1px solid rgb(219, 107, 107);
    padding: 10px;
    width: 40%;
    margin-top: 20px;
    line-height: 1.5;
}


=======
#booksForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border: 1px solid #000;
    padding: 10px;

}

label {
    margin-top: 10px;
}

button {
    align-self: flex-end;
    margin-top: 15px;
    padding: 5px 10px;
    cursor: pointer;
}
>>>>>>> 299efa307f4ff1d331b9353daeb019eaee8b48d8
